.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 18rem;
    height: 100vh;
}
.sidebarRight {
    width: 25rem;
    height: 100vh;
}

.content {
    flex: 1;
    overflow: auto;
}


