.container{
    width: fit-content;
    padding:2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    border-radius: 3rem;
    transition: all .5s;
}

.container:hover{
    background-color: #00000015;
    cursor: pointer;
}

.icon, .text{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.text{
    text-transform: capitalize;
}